header {
    background-color:rgb(0, 0, 0) ;
    list-style: none;
    font-family: 'Bebas Neue', cursive;
    position: sticky;
    top: 0%;
    
    
}

.header-footer {
    display: inline;
    margin: 10%;
    
}

.header-footer:hover {

    background-color: rgb(46, 45, 45);
}

#boton:hover {
    border-style: dotted;

}
    

#boton {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

/* BODY */

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.galeria{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.IMAGEN {
    width: 25%;
    display: flex;
    justify-content: space-between;
    
   
    
}



.galeria2 {

    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.galeriaB {
    width: 25%;
    justify-content: space-between;
    
}



body {
    background-color: rgb(110, 25, 4);
    font-family: 'Bebas Neue', cursive;
    
}

body a {
    text-decoration: none;
    color: aliceblue;
}

/* FOOTER */
footer {
    background-color: black;
    font-family: 'Bebas Neue', cursive;
    height: 120vh;
}

.logo {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}