header {
    background-color:rgb(236, 213, 4) ;
    list-style: none;
    font-family: 'Bebas Neue', cursive;
    position: sticky;
    top: 0%;
}

.header-footer {
    display: inline;
    margin: 10%;
    
}

.header-footer:hover {
opacity: .5;

}

#boton:hover {
border-style: dashed;
    border-radius: auto;
}


#boton {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

/* BODY */

a {
    text-decoration: none;
    color: black;

}

a:hover {
    opacity: .5;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.galeria{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.galeria:hover {
    border-style: dotted;
}


.IMAGEN {
    width: 25%;
    display: flex;
    justify-content: space-between;
    
   
    
}



.galeria2 {
    
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.galeria2:hover {
    border-style: dotted;
}

.galeriaB {
    width: 25%;
    justify-content: space-between;
    
}


body {
    background-color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    
}

/* FOOTER */
.footer {
    font-family: 'Bebas Neue', cursive;
    color: black;
    height: 14vh;
}

.logo {
   display: flex;
   margin-top: 5%;
   justify-content: space-around; 
}
